* {
    margin: 0;
    padding: 0;
    background-color: #101820;
    color: #FFFFFF;
}

#mainHead {
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
}

#inputBox {
    text-align: center;
}

input[type="text"],
input[type="number"] {
    text-align: center;
    background-color: #FFFFFF;
    color: #101820;
    border: 4px solid;
    border-radius: 5px;
    border-color: #999999;
    width: 150px;
    height: 25px;
}
